POSTGRES_USER=<your_username>
POSTGRES_PASSWORD=<your_password>
POSTGRES_DB=<your_database_name>
OPENCODE_API_KEY=<openai_compatible_api_key>
PORT=8080
BASE_URL="https://opencode.ai/zen/v1"
OPENROUTER_MODEL="big-pickle"